# SQLite3 - basic

## 1. 데이터베이스 접속

- SQLite3 Expert Personal 실행
- 새로운 데이터 베이스 생성

In [1]:
import pandas as pd
import numpy as np
import sqlite3

conn = sqlite3.connect('./test.db')  # 데이터베이스 접속

## 2. 테이블 생성

In [25]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS wonki \
            (back_no INT NOT NULL, \
            name TEXT, \
            position TEXT,\
            hands TEXT, \
            highschool TEXT, \
            height INT, \
            PRIMARY KEY(back_no));')

## 3. 데이터 추가 : Insert

In [31]:
cur = conn.cursor()

cur.execute("INSERT INTO wonki VALUES (4, '임원기', '외야수', '우투좌타', '신일고', 200)");
    
conn.commit()

## 4. 파이썬으로 데이터 베이스에 있는 데이터 읽기

In [32]:
cur = conn.cursor()
cur.execute('SELECT * FROM wonki ORDER BY height DESC') # 키 순서대로 정렬 
cur.fetchall() # 모두 조회

[(2, '김영진', '외야수', '우투좌타', '신일고', 200),
 (19, '류경민', '내야수', '좌투좌타', '충암고', 200),
 (4, '임원기', '외야수', '우투좌타', '신일고', 200),
 (1, '하주석', '내야수', '우투좌타', '신일고', 184),
 (28, '양성우', '외야수', '우투좌타', '충암고', 177)]

## 5. 데이터 병합

### stats 테이블 생성

In [21]:
# 테이블 생성 

cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS stats \
    (id INT NOT NULL, \
     player TEXT, \
     average REAL, \
     rbi INT, \
     homerun INT, \
     PRIMARY KEY(id));')

### stats 데이터 확인

In [33]:
stats = pd.read_csv('./stats.csv', encoding='EUC-KR')
stats

  player  average  rbi  homerun
0     호잉    0.288   58       15
1    양성우    0.176    6        1
2    최재훈    0.300   23        2
3    김태균    0.308   43        5
4    송광민    0.257   39        6
5    이성열    0.255   62       18
6    정은원    0.281   47        5
7    정근우    0.219   10        2
8    최진행    0.184   14        3

### stats 데이터, 데이터베이스에 추가

In [46]:
cur = conn.cursor()
sql = 'INSERT INTO stats VALUES (?, ?, ?, ?, ?);'

for i in range(1, len(stats)+1):
    cur.execute(sql, (i, *stats.values[i-1]))
conn.commit()

### SQL문으로 병합하고 데이터 불러오기

In [52]:
sql = "SELECT e.back_no, e.name, e.position, \
        round(s.average, 3), s.rbi, s.homerun \
        FROM wonki AS e JOIN stats AS s \
        ON e.name like s.player;"

cur = conn.cursor()
cur.execute(sql)
rows = cur.fetchall()
rows

[(28, '양성우', '외야수', 0.176, 6, 1)]

### 병합 결과를 데이터 프레임으로 생성하기

In [53]:
colName =  ['등번호', '선수명', '포지션', '타율', '타점', '홈런']

df = pd.DataFrame(rows, columns = colName)
df

   등번호  선수명  포지션     타율  타점  홈런
0   28  양성우  외야수  0.176   6   1

### 데이터베이스 종료하기

In [54]:
conn.close()

# SQLite3 - 연습문제 1

투수들의 기록중에서 평균자책점(ERA), 투구인닝(IP), 탈삼진(SO) 기록을 찾아서 Pitcher_stats 란 테이블을 만들고, Eagles 테이블과 Join 하여 백넘버, 선수명, 포지션, 투구인닝, 평균자책점, 탈삼진 필드를 갖는 데이터 프레임을 만들어서 Join 한 결과를 입력하고, 그 결과를 보이시오.

#### Ealges 테이블

In [1]:
import pandas as pd
import numpy as np
import sqlite3

conn = sqlite3.connect('./test.db')  # 새로운 데이터베이스 접속

In [93]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
            (back_no INT NOT NULL, \
            name TEXT, \
            position TEXT,\
            hands TEXT, \
            highschool TEXT, \
            height INT, \
            PRIMARY KEY(back_no));')

In [94]:
players = pd.read_csv('players.csv', encoding='EUC-KR')
players.head()

   back_no name position hands highschool  height
0       17  김범수       투수  좌투좌타      천안북일고     181
1       38  안영명       투수  우투우타      천안북일고     183
2       36  장민재       투수  우투우타      광주제일고     184
3       13  최재훈       포수  우투우타        덕수고     178
4       52  김태균      내야수  우투우타      천안북일고     185

In [107]:
cur = conn.cursor()
sql = 'INSERT INTO Eagles VALUES (?, ?, ?, ?, ?, ?);'

for i in range(len(players)):
    cur.execute(sql, players.values[i])
    
conn.commit()

#### pitchers_stats 테이블

In [2]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Pitchers_stats \
            (back_no INT NOT NULL, \
            player TEXT, \
            ERA REAL, \
            IP REAL, \
            SO INT, \
            PRIMARY KEY(back_no));')

In [3]:
pitcher = pd.read_csv('pitcher.csv', encoding='EUC-KR')
pitcher

   back_no player   ERA     IP  SO
0       17    김범수  5.67  81.00  65
1       38    안영명  3.43  44.67  35
2       36    장민재  4.81  91.67  84

In [4]:
cur = conn.cursor()
sql = 'INSERT INTO Pitchers_stats VALUES (?, ?, ?, ?, ?);'

for i in range(len(pitcher)):
    cur.execute(sql, pitcher.values[i])
    
conn.commit()

In [5]:
# 데이터 병합 후 데이터 확인해보기

sql = "SELECT e.back_no, e.name, e.position, \
        round(s.ERA, 3), s.IP, s.SO \
        FROM Eagles AS e JOIN Pitchers_stats AS s \
        ON e.name like s.player;"

cur = conn.cursor()
cur.execute(sql)

rows = cur.fetchall()

In [6]:
colname = ['백넘버', '선수명', '포지션', '투구이닝', '평균자책점', '탈삼진']
df = pd.DataFrame(rows, columns = colname)
df

   백넘버  선수명 포지션  투구이닝  평균자책점  탈삼진
0   17  김범수  투수  5.67  81.00   65
1   38  안영명  투수  3.43  44.67   35
2   36  장민재  투수  4.81  91.67   84